<div class="bgimg">
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header>
      <form class="example-form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <mat-label>Enter Username..</mat-label>
            <input matInput placeholder="Username">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Enter Email...</mat-label>
            <input matInput placeholder="Email">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Enter Password...</mat-label>
            <input matInput placeholder="Password">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Confirm Password...</mat-label>
            <input matInput placeholder="Confirm password">
          </mat-form-field>
          <section class="example-section">
            <mat-checkbox class="example-margin">Accepting <a href="#">Terms and Conditions</a></mat-checkbox>
            </section>
        </mat-card-content>
        <button mat-raised-button color="primary" class="btn-block">Sign Up</button>
       </form>
    </mat-card>
  </div>
</div>