<div class="bgimg">
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Sign in</mat-card-title>
      </mat-card-header>
      <form class="example-form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password">
          </mat-form-field>
        </mat-card-content>
        <button mat-raised-button color="primary" class="btn-block">Sign in</button>
      <!-- Actions -->
      <div class="inline-flex items-end justify-between w-full mt-1.5">
        New user <a
            class="text-md font-medium text-primary-500 hover:underline"
            [routerLink]="['/register']"> Sign Up
        </a>
    </div>
      </form>
      
    </mat-card>
  </div>
    </div>